:root {
    --black: #222222;

    --white: #f1f1f1;
    

    --blue: #2194FF;
    --grey: #2D2D2D;






    --font-family: "Russo One", sans-serif;

    --second-family: "Open Sans", sans-serif;





}